<footer>
    <div class="f_main_div show_on_scroll">
        <div class="f_list_icon">
            <div class="f_div_one_icon">
                <a class="a_icon" href="https://github.com/BenoitMayeur?tab=repositories" target="_blank">
                    <i class="fab fa-github icon_footer_g"></i>
                </a>
            </div>
            <div class="f_div_one_icon">
                <a class="a_icon" href="https://www.instagram.com/streetsowl/" target="_blank">
                    <i class="fab fa-instagram icon_footer_i"></i>
                </a>
            </div>
            <div class="f_div_one_icon">
                <a class="a_icon" href="https://www.linkedin.com/in/benoît-mayeur-61699446/" target="_blank">
                    <i class="fab fa-linkedin-in icon_footer_l"></i>
                </a>
            </div>
        </div>
        <p>
            Handcrafted by Me <br> &copy; Benoît Mayeur
        </p>
    </div>
</footer>